/* basic settings */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 2%;
  margin: 0;
  padding: 0;

  color: #000000;
  background-color: rgba(255, 255, 255, 0.666);
}

.list {
  list-style: none;
  margin: 0;
}

.link {
  text-decoration: none;
  color: #3f634b;
  transition: 0.5s;
}

.link:hover,
.link:focus {
  color: tomato;
}

/* header */

.header {
  background-color: #3f634b;
  color: #ffffff;
}

.nav-list {
  display: flex;
  justify-content: center;
  margin: 0;
}

.nav-list-link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-size: 22px;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 14px 14px;
  text-shadow: 1px 1px 1px #232624;
}

.nav-list-link:hover,
.nav-list-link:focus {
  transition: 0.5s;
  color: tomato;
}

/* hero */

.hero-title {
  color: #4d2323;
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 38px;

  text-align: center;
  text-transform: uppercase;
}

.hero-represent {
  color: #4d2323;
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.hero-name {
  padding-top: 100px;
}

.photo {
  width: 290px;
  height: 340px;
  object-fit: cover;
  border-radius: 50%;
}

.section-hero {
  display: flex;
  justify-content: space-around;
  padding: 50px 30px 35px;
  border-bottom: 5px solid #3f634b;
}
/* main */

.main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 50px;
}

.section-title {
  margin: 0;
  padding: 30px;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #4d2323;
}

.section-list {
  margin: 0;
  padding: 0 0 30px 30px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
}

.section:not(:last-child) {
  border-bottom: 1px solid #3f634b;
}

.section-item {
  font-size: 18px;
  font-weight: 500;
}

.about-item {
  font-size: 18px;
  font-weight: 500;
}

.item {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
}

.pre-code {
  margin: 0;
}

.js-code {
  font-size: 18px;
  font-weight: 700;
}

.english-paragraph {
  margin: 0;
  padding: 0 0 30px 30px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
}

/* footer */

.footer {
  color: #ffffff;
  background-color: #3f634b;
  padding: 14px;
}

.year {
  margin: 0;
  padding-top: 10px;
}

.footer-link {
  text-decoration: none;
  color: #ffffff;
  transition: 0.5s;
  padding-top: 10px;
  text-shadow: 1px 1px 1px #232624;
}

.footer-link:hover,
.footer-link:focus {
  color: tomato;
}

.section-footer {
  display: flex;
  justify-content: space-around;
}
